html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    color: green;
}

.row {
    box-sizing: border-box;
    border: 1px solid darkgreen;
    background-color: black;
    color: green;
}